.erro {
  margin: 0 auto;
}

.erro h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.erro p {
  text-align: center;
  line-height: 2;
}

.ir-home {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}

@media(max-width: 800px) {
  .ir-home {
    font-size: 18px;
  }
}